/* Fondo negro */
.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  flex-direction: column;
  position: relative;
}

/* Animación del logo: movimiento hacia arriba */
.logo-container {
  position: absolute;
  bottom: 50px;  /* Logo inicia en la parte inferior */
  animation: moveUp 3s ease-out infinite;
}

/* Definir la animación de mover el logo hacia arriba */
@keyframes moveUp {
  0% {
    bottom: 50px; /* Empieza en la parte inferior */
  }
  50% {
    bottom: 150px; /* Se mueve hacia arriba */
  }
  100% {
    bottom: 50px; /* Vuelve a bajar */
  }
}

/* Estilos del logo */
.logo {
  width: 100px; /* Ajusta el tamaño del logo */
  height: 100px;
  object-fit: contain;
}

/* Spinner de carga */
.spinner {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin-top: 20px;
}

/* Animación de giro para el spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
